html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: #363237;
    margin:0px;
    color:#D09683;
    overflow-x: hidden;
}
h1 {
   padding-top:5px;
   text-align:center;
   color: #2D4262;
   margin:auto;
}
h2 {
    text-align:center;  
}
h3 {
    text-align:center;  
}
.pure-menu.pure-menu-horizontal{
    margin:15px;
}
.pure-menu-link {
    color:#D09683;
}
.pure-menu-link:hover {
    background-color: #73605B; 
}
.pure-g {
    letter-spacing: normal;
}
.banner-img {
    width:105%;
    height:400px;
    margin:0px;
    padding-right:0px;
    background-image: url("https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg?cs=srgb&dl=white-and-black-mountain-wallpaper-933054.jpg&fm=jpg");
    background-position: center;
    border: 5px solid rgb(119, 119, 119);

}
.box{
    padding-left: 0.5em;
    padding-right:0.5em;
    width:85%;
}
img {
    border: 5px solid rgb(119, 119, 119);
}
.pure-u-1{
    text-align:center;
    color: rgb(232, 221, 253);
    background-color:rgb(139, 111, 116);
}
.pure-u-2.pure-u-md-1-3{
    text-align:center;
}



