* {
 margin:auto;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  display: block;
  padding: 0 1rem;
  margin:auto;
  width:50%;
}

button.del {
  display:inline-block;
  background-color: rgb(255, 4, 4);
  color:white;
  padding:3px 8px;
  margin:5px;
  border:1px rgb(255, 4, 4) groove;
  border-radius:0.75em;
  cursor:pointer;
}
h1 {
  background-color: #c85188;
  color:white;
  text-align:center;
  padding:10px;
  border: 2px rgb(255, 206, 243) solid;
}
input.sub {
  background-color: #e7b1ca;
  color:black;
  cursor:pointer; 
}
p {
  padding:2px;
  color:#c85188;
}
