body{
    overflow-x: hidden;
    background-color: rgb(177, 201, 202);
}
.pure-g{
    letter-spacing: normal;
    overflow-x:hidden;
}
.pure-menu-horizontal{
    text-align: center;
    margin:10px;
}
.pure-menu-link{
    color:black;
}
.pure-menu-link:hover{
    background-color: transparent;
    color:rgb(158, 40, 40);
}
.pure-u-1.pure-u-md-2-5{
    background-color: rgb(226, 226, 226);
}
h1.logo{
    text-align: center;
}
.pure-u-1.pure-u-md-3-5{
    background-color: rgb(226, 226, 226);
}
.pure-button.pure-button-primary{
    background-color: rgb(158, 40, 40);
}
h5.ship{
    text-align:center;
    color:white;
    background-color: black;
    margin-top:0px;
}
h2.shop{
   padding-left:10px;
   padding-right:10px;
   text-align:center;
}
h3.shop{
    padding-left:10px;
    padding-right:10px;
    text-align:center;
}
hr{    
    display:block;
    margin-top: 15px;
    margin-bottom: 15px;
    height:2px;
    border:1px solid gray;
    background-color: rgb(82, 82, 82);
}
.body_shop{
    background-color: lightsteelblue;
}
.pure-menu.custom-restricted-width{
    text-align: center;
}
hr.shop{
    display:block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    height:2px;
    width:80%;
    color:gray;
    background-color: rgb(82, 82, 82);
}
.box{
    border:3px solid gray;
    width:85%;
    margin:auto;
    position: relative;
}
.box2{
    width:55%;
    text-align:center;
    margin:auto;
    padding-top:10px;
    padding-bottom:5px;
    cursor: pointer;
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: xx-large;
    color:gold;
}
.box2 > span {
    display: inline-block;
    position: relative;
    width: 0.8em;
  }
.box2 > span:hover:before,
.box2 > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left:5;
   color:gold;
}
.caption{
    text-align:center;
    color:rgb(185, 9, 9);
    font-weight: bold;
}
.product_name{
    text-align: center;
}
.price{
    text-align:center;
    color:rgb(185, 9, 9);
}
.pure-u-1.pure-u-md-1-5{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.74);
}
.footerfoot{
    padding-left: 0.5em;
    padding-right:0.5em;
    margin:auto;
    width:50%;
    color:white;
}
img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.box:hover .pure-img {
    opacity: 0.3;
    cursor: pointer;
}
.box:hover .message {
    opacity: 1;
}
.message{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.text {
    background-color: #273642;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    cursor: pointer;
  }
  /* '★★★★★' */